In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
df=pd.read_csv('pizza_data.csv')
df2=df.copy()

In [3]:
df.head()

          Company          Pizza Name           Type          Size  Price
0  Domino's Pizza         Hand Tossed  Cheeses Pizza   Small (10")  $5.99
1  Domino's Pizza         Hand Tossed  Cheeses Pizza  Medium (12")  $7.99
2  Domino's Pizza         Hand Tossed  Cheeses Pizza   Large (14")  $9.99
3  Domino's Pizza        Handmade Pan  Cheeses Pizza  Medium (12")  $7.99
4  Domino's Pizza  Crunchy Thin Crust  Cheeses Pizza   Small (10")  $5.99

In [4]:
df.columns=['pizza_company','pizza_name','pizza_type','pizza_size','pizza_price']

In [5]:
df

,pizza_company,pizza_name,pizza_type,pizza_size,pizza_price
0,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Small (10"")",$5.99
1,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Medium (12"")",$7.99
2,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Large (14"")",$9.99
3,Domino's Pizza,Handmade Pan,Cheeses Pizza,"Medium (12"")",$7.99
4,Domino's Pizza,Crunchy Thin Crust,Cheeses Pizza,"Small (10"")",$5.99
...,...,...,...,...,...
366,IMO's Pizza,BBQ Chicken Pizza,Specialty Pizzas,"X Large (16"")",$23.85
367,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Small (10"")",$11.80
368,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Medium (12"")",$14.95
369,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Large (14"")",$18.65
370,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"X Large (16"")",$22.30

In [6]:
df.pizza_size.value_counts()

Large            111
Medium            84
Small (10")       39
Medium (12")      27
Large (14")       24
Small             20
Jumbo             18
X-Large (16")     16
Mini              14
Personal          12
X Large (16")      6
Name: pizza_size, dtype: int64

In [7]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [8]:
LE1=LabelEncoder()
df.pizza_company=LE1.fit_transform(df.pizza_company)
LE2=LabelEncoder()
df.pizza_name=LE2.fit_transform(df.pizza_name)
LE3=LabelEncoder()
df.pizza_type=LE3.fit_transform(df.pizza_type)
LE4=LabelEncoder()
df.pizza_size=LE4.fit_transform(df.pizza_size)
LE5=LabelEncoder()
df.pizza_price=LE5.fit_transform(df.pizza_price)

In [9]:
df.pizza_company.value_counts()

1    133
3    126
0     88
2     24
Name: pizza_company, dtype: int64

In [10]:
df

     pizza_company  pizza_name  pizza_type  pizza_size  pizza_price
0                0          96           1           8           50
1                0          96           1           4           51
2                0          96           1           2           55
3                0          98           1           4           51
4                0          75           1           8           50
..             ...         ...         ...         ...          ...
366              2          15           8           9           37
367              2          82           8           8            3
368              2          82           8           4           12
369              2          82           8           2           25
370              2          82           8           9           35

[371 rows x 5 columns]

In [11]:
from sklearn.tree import DecisionTreeClassifier
DT_classifier=DecisionTreeClassifier()

In [12]:
X=np.array(df.drop(['pizza_price'],axis=1))
y=np.array(df.pizza_price)

In [13]:
DT_classifier.fit(X,y)

DecisionTreeClassifier()

In [14]:
LE5.classes_

array(['$10.49', '$10.99', '$11.60', '$11.80', '$11.99', '$12.49',
       '$12.69', '$12.70', '$12.99', '$13.49', '$13.99', '$14.45',
       '$14.95', '$14.99', '$15.24', '$15.34', '$15.49', '$15.99',
       '$16.20', '$16.49', '$16.99', '$17.35', '$17.49', '$17.99',
       '$18.49', '$18.65', '$18.69', '$18.74', '$18.99', '$19.20',
       '$19.95', '$19.99', '$20.99', '$21.99', '$22.24', '$22.30',
       '$22.49', '$23.85', '$23.99', '$24.99', '$25.99', '$26.23',
       '$26.49', '$27.99', '$28.99', '$29.99', '$4.29', '$4.79', '$4.99',
       '$5.29', '$5.99', '$7.99', '$8.49', '$8.99', '$9.30', '$9.99'],
      dtype=object)

In [15]:
DT_classifier.predict(X)

array([50, 51, 55, 51, 50, 51, 55, 55,  4, 53,  4, 10, 17, 23, 13,  4, 10,
       17, 23, 13,  4, 10, 17, 23, 13,  4, 10, 17, 23, 13,  4, 10, 17, 23,
       13,  4, 10, 17, 23, 13,  4, 10, 17, 23, 13,  4, 10, 17, 23, 13,  4,
       10, 17, 23, 13,  4, 10, 16, 17, 23, 13,  4, 10, 16, 17, 23, 13,  4,
       10, 16, 17, 23, 13,  4, 10, 17, 23, 13,  4, 10, 17, 23, 13,  4, 10,
       17, 23, 13, 52,  0, 46, 52,  0, 52,  0,  5,  0,  5, 16, 47,  5, 16,
        5, 16, 22, 16,  5, 16, 47,  5, 16,  5, 16, 22, 16,  5, 16, 47,  5,
       16,  5, 16, 22, 16,  5, 16, 47,  5, 16,  5, 16, 22, 16,  5, 16, 47,
        5, 16,  5, 16, 22, 16,  5, 16, 47,  5, 16,  5, 16, 22, 16,  9, 19,
       49,  9, 19,  9, 19, 24, 19,  5, 16, 47,  5, 16,  5, 16, 22, 16,  5,
       16, 47,  5, 16,  5, 16, 22, 16,  9, 19, 49,  9, 19,  9, 19, 24, 19,
        5, 16, 47,  5, 16,  5, 16,  5, 16,  5, 16,  5, 16,  5, 16,  5, 16,
        5, 16,  5, 16, 16, 16, 16, 16, 16, 55, 48,  1,  8,  9, 17, 19, 28,
       50, 17, 31, 34, 38, 43, 50, 17, 31, 34, 38, 41, 43, 50, 17, 31, 34,
       38, 41, 43, 50, 17, 31, 34, 38, 41, 43, 50, 17, 31, 34, 38, 41, 43,
       50, 17, 31, 34, 38, 41, 43, 50, 17, 31, 34, 38, 41, 43, 50, 17, 31,
       34, 38, 41, 43, 50, 17, 31, 34, 38, 41, 43, 50, 17, 31, 34, 38, 41,
       43, 20, 33, 36, 40, 42, 45, 20, 33, 36, 40, 42, 45, 20, 33, 36, 40,
       42, 45, 20, 33, 36, 40, 42, 45, 17, 32, 36, 39, 42, 44, 50, 17, 31,
       34, 38, 41, 43, 50, 17, 31, 34, 38, 41, 43, 55, 10,  4, 17, 31, 38,
       48,  6, 15, 14, 26, 27, 33,  7, 18, 30, 37,  7, 18, 30, 37, 54,  2,
       11, 21,  7, 18, 30, 37,  7, 18, 29, 37,  3, 12, 25, 35])

In [16]:
def tell_me_price(pizza_company,pizza_name,pizza_type,pizza_size):
    v1=LE1.classes_
    v2=LE2.classes_
    v3=LE3.classes_
    v4=LE4.classes_
    ind1=np.where(v1==pizza_company)[0]
    ind2=np.where(v2==pizza_name)[0]
    ind3=np.where(v3==pizza_type)[0]
    ind4=np.where(v4==pizza_size)[0]
    v= (ind1,ind2,ind3,ind4)
    price_index=DT_classifier.predict([np.array([v[0][0],v[1][0],v[2][0],v[3][0]])])
    prices=LE5.classes_
    return (prices[price_index][0])

In [17]:
tell_me_price("IMO's Pizza","BBQ Chicken Pizza","Specialty Pizzas",'X Large (16")')

'$23.85'

In [18]:
df2

,Company,Pizza Name,Type,Size,Price
0,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Small (10"")",$5.99
1,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Medium (12"")",$7.99
2,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Large (14"")",$9.99
3,Domino's Pizza,Handmade Pan,Cheeses Pizza,"Medium (12"")",$7.99
4,Domino's Pizza,Crunchy Thin Crust,Cheeses Pizza,"Small (10"")",$5.99
...,...,...,...,...,...
366,IMO's Pizza,BBQ Chicken Pizza,Specialty Pizzas,"X Large (16"")",$23.85
367,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Small (10"")",$11.80
368,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Medium (12"")",$14.95
369,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Large (14"")",$18.65
370,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"X Large (16"")",$22.30

In [33]:
v=df2['Type'].value_counts()

In [34]:
for x in v.index:
    print(x,',')

Specialty Pizzas ,
Classic Recipe Pizzas ,
Feast Pizzas ,
New Recipe Pizzas ,
Cheese Pizza ,
Cheeses Pizza ,
Express Favorites ,
Skinny Pizzas ,
Gluten-Free Pizzas ,